<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body bgcolor="#ffffddddd">
    <h1><u>An Nginx's Log Parser: Log Analysis Report</u></h1>
    <h3>Here is the data that we collected after analysing the Nginx's access log file.</h3>
    Click the link to view reports
    <ul>
    	<li><a href="http://127.0.0.1:5000/home/logs">Logs Analysis Overview</a></li>
    	<li><a href="http://127.0.0.1:5000/home/status/frequency">Http Status Codes and their Frequency</a></li>
    	<li><a href="http://127.0.0.1:5000/home/pageviews">Pageviews</a></li>
    	<li><a href="http://127.0.0.1:5000/home/visits">Unique Page Visits</a></li>
    </ul>
 
</body>
</html>
